---
import Card from "@components/Card";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import getSortedPosts from "@utils/getSortedPosts";
import type { CollectionEntry } from "astro:content";

export interface Props {
  pageNum: number;
  totalPages: number;
  posts: CollectionEntry<"blog">[];
}
const sortedPosts = (await getSortedPosts()).filter(post =>
  post.data.tags.includes("receipe")
);
---

<Layout title={`Recipes | ${SITE.title}`}>
  <Main
    pageTitle="Recipes"
    pageDesc="A collection of recipes I've tried and loved."
  >
    <ul>
      {
        sortedPosts.map(post => (
          <Card href={`/posts/${post.id}`} frontmatter={post.data} />
        ))
      }
    </ul>
  </Main>
</Layout>
