@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  html.light {
    --color-fill: 255, 255, 255;
    --color-text-base: 54, 54, 54;
    --color-accent: 0, 0, 0;
    --color-card: 230, 230, 230;
    --color-card-muted: 205, 205, 205;
    --color-border: 236, 233, 233;
  }
  html.dark {
    --color-fill: 34, 34, 34;
    --color-text-base: 234, 237, 243;
    --color-accent: 255, 255, 255;
    --color-card: 52, 63, 96;
    --color-card-muted: 138, 51, 2;
    --color-border: 171, 75, 8;
  }
  :root {
    --chat-bg: #f8f8f8;
    --sidebar-width: 25%;
    --content-width: theme("width.full");
    @media screen(lg) {
      --content-width: theme("width.3/4");
    }
  }

  body {
    @apply flex min-h-screen flex-col bg-skin-fill font-mono text-skin-base selection:bg-skin-accent selection:bg-opacity-70 selection:text-skin-inverted;
  }

  a {
    @apply outline-2 outline-offset-1 outline-skin-fill
    focus-visible:no-underline focus-visible:outline-dashed;
  }
  svg {
    @apply inline-block;
  }
  svg.icon-tabler {
    @apply inline-block h-6 w-6 scale-125 fill-transparent
    stroke-current stroke-2 opacity-90 group-hover:fill-transparent
    sm:scale-110;
  }

  /* ===== scrollbar ===== */
  html {
    overflow-y: scroll;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-skin-fill;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-skin-card;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-skin-card-muted;
  }
}

@layer components {
  .focus-outline {
    @apply outline-2 outline-offset-1 outline-skin-fill focus-visible:no-underline focus-visible:outline-dashed;
  }
}

.icon-link::before {
  content: "";
  background-image: url("../assets/link-icon.svg");
  background-size: cover;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0.5rem;
  right: 10px;
  visibility: hidden;
}

.icon-link:hover::before {
  visibility: visible;
}

.icon-link {
  position: relative;
  display: none;
}

@media (min-width: 768px) {
  .icon-link {
    display: unset;
  }
}

iframe .brand {
  display: none;
}

/* #table-of-content {
  display: none;
}

#table-of-content + ul li {
  @apply m-0;
}
#table-of-content + ul ul {
  @apply my-1;
}
#table-of-content + ul > li > a {
  @apply font-medium;
}

#table-of-content + ul a {
  @apply font-normal text-gray-700 no-underline;
}
#table-of-content + ul a.active {
  @apply text-lime-500;
} */

.post-line-text #table-of-content,
.post-line-text #table-of-content ~ * {
  display: none !important;
}

.prose {
  font-size: 0.925rem; /* 15px */
  font-size: 1rem; /* 16px */
  /*
  font-size: 1.25rem; // 20px
  line-height: 1.875rem; */
}
img {
  width: 100%;
  height: auto;
}
