---
import Hr from "@components/Hr.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import getSortedPosts from "@utils/getSortedPosts";
import PostLine from "./PostLine.astro";

const sortedPosts = await getSortedPosts();
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
---

<Layout title={SITE.title}>
  <main class="px-12 2xl:pl-64">
    {
      featuredPosts.length > 0 && (
        <>
          <section class="mx-auto max-w-3xl">
            <ul class="space-y-20">
              {featuredPosts.map(post => (
                <PostLine post={post} />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }
  </main>
</Layout>
