---
import Hr from "@components/Hr.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import getSortedPosts from "@utils/getSortedPosts";
import PostLine from "../components/PostLine.astro";

const sortedPosts = await getSortedPosts();
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
---

<Layout title={SITE.title}>
  <main class="px-12 2xl:pl-64">
    {
      featuredPosts.length > 0 && (
        <>
          <ul class="space-y-20">
            {featuredPosts.map(post => (
              <PostLine post={post} />
            ))}
          </ul>
          <Hr />
        </>
      )
    }
  </main>
</Layout>
