---
import SearchBar from "@components/Search";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { getPublishedPosts } from "../utils/getPosts";

const posts = await getPublishedPosts();
---

<Layout title={`Search | ${SITE.title}`}>
  <Main pageTitle="Search" pageDesc="Search any article ...">
    <SearchBar client:load searchList={posts.map(it => it.data)} />
  </Main>
</Layout>
