---
interface Props {}
---

<div class="w-full justify-between gap-3">
  <div class="flex flex-col">
    <form id="newsletter-form" class="flex">
      <label class="sr-only" for="email-address"> Email address</label>
      <input
        autocomplete="email"
        class="w-full rounded-xl border border-black bg-transparent px-5 py-3 placeholder-black/60 focus:ring-black dark:border-white dark:placeholder:text-white dark:focus:border-white"
        id="email-address"
        name="email"
        placeholder="Join The Newsletter"
        required=""
        type="email"
      />
      <div class="ml-auto mt-3 rounded-md sm:ml-3 sm:mt-0 sm:flex-shrink-0">
        <button
          class="group flex h-full w-full items-center justify-center rounded-xl border-2 border-black bg-black px-2 text-base font-medium text-white hover:bg-white hover:text-black focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-2 dark:border-white dark:bg-white dark:text-black dark:hover:bg-black dark:hover:text-white"
          type="submit"
        >
          <span class="sr-only">Subscribe</span>
          <svg
            class="h-6 w-6 text-white group-hover:text-gray-800"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 21"
          >
            <path
              stroke="currentColor"
              strokeLinecap="round"
              strokeLinejoin="round"
              strokeWidth="2"
              d="M10 3.464V1.1m0 2.365a5.338 5.338 0 0 1 5.133 5.368v1.8c0 2.386 1.867 2.982 1.867 4.175C17 15.4 17 16 16.462 16H3.538C3 16 3 15.4 3 14.807c0-1.193 1.867-1.789 1.867-4.175v-1.8A5.338 5.338 0 0 1 10 3.464ZM4 3 3 2M2 7H1m15-4 1-1m1 5h1M6.54 16a3.48 3.48 0 0 0 6.92 0H6.54Z"
            ></path>
          </svg>
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  document
    .getElementById("newsletter-form")
    ?.addEventListener("submit", function (event) {
      event.preventDefault();
      const formData = new FormData(event.target as any);
      const value = Object.fromEntries(formData.entries());
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      myHeaders.append(
        "Authorization",
        "Bearer 9e4caa6340f52bfaa1ace921f9dd58c2"
      );

      const raw = JSON.stringify({
        project: "faslh",
        channel: "newsletter",
        event: "User Joined",
        description: `Email: ${value.email}`,
        icon: "🎉",
        tags: {
          email: value.email,
        },
        notify: true,
      });

      const requestOptions: RequestInit = {
        method: "POST",
        headers: myHeaders,
        body: raw,
        redirect: "follow",
      };

      fetch("https://api.logsnag.com/v1/log", requestOptions)
        .then(response => response.text())
        .then(() => import("canvas-confetti"))
        .then(confetti =>
          confetti.default({
            particleCount: 100,
            spread: 70,
            origin: { y: 0.6 },
          })
        )
        .catch(error => console.log("error", error));
    });
</script>
