---
import Card from "@components/Card";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<Layout title={`Posts | ${SITE.title}`}>
  <Main pageTitle="Posts" pageDesc="All the articles I've posted.">
    <ul>
      {
        posts.map(post => (
          <Card href={`/posts/${post.id}`} frontmatter={post.data} />
        ))
      }
    </ul>
  </Main>
</Layout>
